@import url('../../../../styles/colors/colors.css');
@import url('../../../../styles/buttons/buttons.css');


.input-question{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 2rem;
}

.fondo-item{
    background: var(--dark-secondary);
    border-radius: 20px;
    height: 170px;
}

.title-seconds{
    font-size: 35px;
    font-weight: 800;
    color: var(--white);
    font-family: 'Montserrat', sans-serif;
}

.second{
    font-size: 20px;
    font-weight: 800;
    color: var(--white);
}

.plus-rest{
    color: var(--white);
    cursor: pointer;
    font-size: 24px;
    background: #273346;
    padding: 7px;
    border-radius: 15px;
    margin-left: 3px;
}

/* TODO: revisar */
input[type=range]{
    background: var(--white);
    font-size: 1.5rem;
}

.input-answer{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    padding: 1rem;
}

.far .fas{
    font-size: 24px;
    cursor: pointer;
}