:root{
    --blue: #007BFF;
    --blue-dark: #0A3970;
    --blue-dishabled: #6686A8;
    --gold: #AC9221;
    --dark: #000000;
    --orange: #FF6F00;
    --gray: #CED4DA;
    --gray-dark: #00000038;
    --white: #FFFFFF;
    --rgb-dark: rgb(51, 51, 51);
    --dark-secondary: #131d2d;
    --red-primary: #a71c2B;
    --success: #28a745;
}