<div class="container mt-5">
    <div *ngIf="spinner" class="mb-5 d-flex justify-content-center">
        <app-spinner></app-spinner>
    </div>
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="card">
                <div class="card-body">
                    <h3 class="text-center title">Register User</h3>
                    <form [formGroup]="registerForm" (submit)="registerUser()" >
                        <div class="mb-3">
                            <input type="text" formControlName="user" class="form-control" placeholder="User">
                            <span 
                                class="text-danger ml-3"
                                *ngIf="registerForm.get('user')?.touched && registerForm.get('user')?.hasError('required')"
                            >
                                Name is <strong>required</strong>
                            </span>
                        </div>
                        <div class="mb-3">
                            <input type="text" formControlName="email" class="form-control" placeholder="Email">
                            <span 
                                class="text-danger ml-3"
                                *ngIf="registerForm.get('email')?.touched && registerForm.get('email')?.hasError('required')"
                            >
                                Email is <strong>required</strong>
                            </span>
                            <span 
                                class="text-danger ml-3"
                                *ngIf="registerForm.get('user')?.hasError('email')"
                            >
                                Email is no <strong>valid</strong>
                            </span>
                        </div>
                        <div class="mb-3">
                            <input type="password" formControlName="password" class="form-control" placeholder="Password">
                            <span 
                                class="text-danger ml-3"
                                *ngIf="registerForm.get('password')?.touched && registerForm.get('password')?.hasError('required')"
                            >
                                Password is <strong>required</strong>
                            </span>
                            <span 
                                class="text-danger ml-3"
                                *ngIf="registerForm.get('password')?.hasError('minlength')"
                            >
                                Password is no valid <strong>min 5 characters</strong>
                            </span>
                            <span 
                                class="text-danger ml-3"
                                *ngIf="registerForm.get('password')?.hasError('maxlength')"
                            >
                                Password is no valid <strong>max 8 characters</strong>
                            </span>
                        </div>
                        <div class="mb-3">
                            <input type="password" formControlName="confirmPassword" class="form-control" placeholder="Confirm password">
                            <span 
                                class="text-danger ml-3"
                                *ngIf="registerForm.get('confirmPassword')?.touched && registerForm?.hasError('notSame')"
                            >
                                Password do not <strong>Match</strong>
                            </span>
                            <span 
                                class="text-success ml-3"
                                *ngIf="registerForm.get('confirmPassword')?.touched && registerForm.get('password')?.value !== '' && registerForm.get('confirmPassword')?.value !== '' && !registerForm?.hasError('notSame')"
                            >
                                Password <strong>Match</strong>
                            </span>
                        </div>
                        <button routerLink="/user" class="btn btn-secondary">Return</button>
                        <button type="submit" [disabled]="registerForm.invalid" class="btn btn-primary float-right">Register</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
